# Hands-on Pandas

‚è±Ô∏è 40 min.

Pandas is a powerfull and widely used tool for data analysis and manipulation. It allows us to work with tables of data, instead of just individual numbers or lists.

We're going to use Mito to generate a lot of pandas code for us, but in this section we'll learn the fundamentals of pandas. Having this background will allow us to understand and edit the code that Mito generates.

In this notebook, we'll learn about dataframes and series -- the two main data types in pandas.

## Dataframes and Series

Pandas is a package. So just like we did when working with the math module, we have to import it.

In [ ]:
import pandas as pd

üí° **Series** and **DataFrame** two most important data structures in pandas.

A Pandas **Series** is a one-dimensional array. Think of it like a column in an Excel sheet.  

A Pandas **DataFrame** is a two-dimensional table made up of several Series. Think of it like a table in Excel.

Both have an **index** that serves as a unique identifier for each row.

In [ ]:
pd.Series([1, 3, 5, 6])

In [ ]:
pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
})

üßë‚Äçüíª Store the above dataframe in a variable called df and print it.

In [ ]:
# TODO: Replace me with your code

üí° Just like in Excel, we can add new columns to our dataframe, calculate the sum of columns, filter columns, etc.

üßë‚Äçüíª Run the following code to add column `D`.

In [ ]:
df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
})
df['D'] = 1
df

üßë‚Äçüíª Run the following code to create a new column `E` that is the sum of `A` and `B`

In [ ]:
df['E'] = df['A'] + df['B']

üßë‚Äçüíª Delete column B by running the code below.

In [ ]:
df.drop('B', axis=1)
df

Well, what happend here? Why is B still in the original_df?  

The `drop` function **returns** a new dataframe with the updated result instead of editing the dataframe in place. 

üßë‚Äçüíª Go to the above cell and assign orginial dataframe to the return value by typing `df = df.drop('B', axis=1)`.  

Many pandas functions also have the `inplace` parameter. When set to True, the function will update the dataframe inplace. But by default, inplace=False.

In [ ]:
new_df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
})

In [ ]:
new_df.drop('A', axis=1, inplace=True)
new_df

Let's explore some other common Pandas operations

In [ ]:
df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
})

In [ ]:
df['D'] = (df['C']+df['B']) / df['A']
df

üí° To filter pandas dataframes, use conditionals.

In [ ]:
df = df[df['A'] > 1]
df

Let's understand how filtering pandas dataframes works by breaking apart the above line of code.

In [ ]:
df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
})

boolean_index = df['A'] > 1
boolean_index

In [ ]:
df = df[boolean_index]
df

Notice that the final df only contains rows that had a True value in the boolean_index.

üßë‚Äçüíª Filter the dataframe to only contain rows where the country is Canada.

In [ ]:
countries_df = pd.DataFrame({
    'row number': [1, 2, 3, 4],
    'country': ['Canada', 'United States', 'Canada', 'Canada']
})

# TODO: Replace me with your code

Pandas supports more complicated operations as well. The following code creates a pivot table!

In [ ]:
df = pd.DataFrame({
    'loan_id': [1,1,2,2,3],
    'payment': [100,100,97,97,52],
})

pivot_table = df.pivot_table(
    index=['loan_id'],
    values=['payment'],
    aggfunc={'payment': ['count']}
)
df_pivot = pivot_table.reset_index()

In the next notebook, we'll learn how Mito can make it easy to write these more complicated scripts of pandas code. 

But before we get there, let's practice and learn some more pandas fundamentals.

üßë‚Äçüíª Run the following code and correct the errors

In [ ]:
df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8]
})

Because a dataframe is a table, each column needs to have the same number of rows.

üßë‚Äçüíª Run the following code and correct the errors

In [ ]:
df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
})

df[A] = df[A] + 1

In order to reference column A in the dataframe, we need to put the column header in quotes because we're referencing the value "A", not a variable A.

Alternativly, if we did have a variable that was equal to one of the column headers, we would use it without quotes because we want to use the variable's value, not it's name.

üßë‚Äçüíª Run the following code and correct the error

In [ ]:
column_header = 'A'
df['column_header'] = df['column_header'] + 1

üßë‚Äçüíª Use the Pandas documentation and Stack Overflow to replace "ID-" with the empty string "" in the following dataframe

In [ ]:
df = pd.DataFrame({
    'id': ['ID-1', 'ID-2', 'ID-3'],
})

df['id'] = df['id'].replace('ID-', '', regex=True)

üßë‚Äçüíª Make the same replacement across the entire dataframe.

Hint: In the above code we call the replace function on the `id` series. Most pandas functions can either be called on an individual series or an entire dataframe

In [ ]:
df = pd.DataFrame({
    'idA': ['ID-A1', 'ID-A2', 'ID-A3'],
    'idB': ['ID-B1', 'ID-B2', 'ID-B3'],
    'idC': ['ID-C1', 'ID-C2', 'ID-C3'],
})

# TODO replace me with your code

## Import data

So far, we've created basic dataframes with only a couple row and column. But for report automation, we'll usually want to work with more complex dataframes.
 
Oftentimes, we'll turn csv or Excel files into dataframes. Let's look at some examples.

The Iris dataset is one of the first datasets that everyone learning Pandas starts with. Let's explore it. 

üí° Pandas lets us convert csv files to dataframes using the `read_csv` function.

In [ ]:
df = pd.read_csv('data1_iris.csv')
df

Now that we converted the iris csv file into a dataframe, we can use pandas to explore our data. 
  
üßë‚Äçüíª Run the below cell to print the first 5 rows of data. Then change `head` to `tail` to print the tail instead.

In [ ]:
df.head()

üí° There are many other useful comments like `df.info()` , `df.max()` , `df.describe()`.  

üßë‚Äçüíª Run the below cells to see what information pandas makes available to us.

In [ ]:
# Summary of the dataframe
df.info()

Notice that each column has an attribute called `dtype`. The dtype of each columns is just like the data types we explored previously. They could be ints, floats, strings, datetimes, etc.

Some of the pandas functions we used are only available if the column is the correct dtype, so converting between dtypes is something we'll practice soon.

In [ ]:
# Display descriptive statistics
df.describe()

In [ ]:
# Display the count of each species
df['Species'].value_counts()

In [ ]:
# Display the mean sepal and petal width and length of each species
df.groupby('Species').mean()

In [ ]:
# Display the number of missing values in each column
print(df.isnull().sum())

In [ ]:
# Drop the 'Species' column
df_dropped = df.drop('Species', axis=1)
df_dropped.head()

In [ ]:
df_renamed = df.rename(columns={'Species': 'iris_species'})
df_renamed.head()

In [ ]:
# Use loc to select all rows and the 'species' column
df.loc[:, 'Species']

In [ ]:
# Use iloc to select the first 10 rows and the first 3 columns
df.iloc[0:10, 0:3]

üßë‚Äçüíª Append the new data we create below to the original dataframe using the syntax `pd.concat([df1, df2])`.


Store the result in a new variable called `df_extended` and print it.

In [ ]:
new_data = {
    'Id': ["new1", "new2", "new3", "new4", "new5"],
    'SepalLengthCm': [5.6, 5.7, 5.1, 5.0, 5.2],
    'SepalWidthCm': [3.0, 3.2, 3.4, 3.1, 3.5],
    'PetalLengthCm': [4.5, 4.2, 4.7, 4.1, 4.3],
    'PetalWidthCm': [1.5, 1.3, 1.6, 1.2, 1.4],
    'Species': ['Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica', 'Iris-virginica']
}

new_df = pd.DataFrame(new_data)
new_df = new_df.set_index('Id')
new_df

In [ ]:
# TODO replace me with your code